/* src/pages/AboutUs.css */

/* Hero Section */
.about-hero {
  position: relative;
  height: 50vh;
  background-image: url('../assets/images/abus.png'); /* Ensure the path is correct */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-hero-content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.about-hero-content h1 {
  color: #fff;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

/* Content Sections */
.about-content-section {
  padding: 40px 150px;
}

.about-content-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  flex-direction: row; /* Default direction */
}



#firstimg {
  border-radius: 50px;
}

.about-text-content {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.about-text-content h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.about-text-content p {
  font-size: 1.2em;
  line-height: 1.8;
  color: #555;
}

.about-image-content {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image-content img {
  width: 100%;
  height: auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

/* Circular Image Styling */
.circle-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* FAQ Section */
.about-faq-section {
  padding: 60px 20px;
  background-color: #f9f9f9;
}

.about-faq-section h2 {
  text-align: center;
  font-size: 2.2em;
  color: #333;
  margin-bottom: 40px;
}

.about-faq-list {
  max-width: 800px;
  margin: 0 auto;
}

.about-faq-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.about-faq-item h3 {
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: 0;
  padding: 10px;
  background: #f1f1f1;
  border-radius: 5px;
}

.about-faq-item h3:hover {
  background: #eaeaea;
}

.faq-answer {
  overflow: hidden;
  font-size: 1.1em;
  line-height: 1.6;
  padding: 0 10px;
}

.about-faq-item.open .faq-answer {
  padding: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-content-container {
    flex-direction: column;
  }

  .about-content-container.reverse {
    flex-direction: column-reverse;
  }

  .about-hero {
    height: 20vh;
  }

  .about-hero-content-wrapper {
    transform: translate(-50%, -50%);
  }

  .about-hero-content h1 {
    font-size: 1.8em;
  }

  .circle-image {
    width: 200px;
    height: 200px;
  }
}
